version: "3.6"
#############################################################
services:
  gitlab:
    image: gitlab/gitlab-ce:${GITLAB_VERSION}
    ports:
      - "${SSH_PORT}"
      - "${HTTP_PORT}"
      - "${HTTPS_PORT}"
    volumes:
      - gitlab_data:/var/opt/gitlab
      - gitlab_logs:/var/log/gitlab
      - gitlab_config:/etc/gitlab

      # enable only if custom TLS certificates are to be used and disable let's encrypt
      #- ./conf/certs/${CERT_NAME}:/etc/gitlab/trusted-certs/${CERT_NAME}
      #- ./conf/certs/${CERT_KEY_NAME}:/etc/gitlab/trusted-certs/${CERT_KEY_NAME}
      #
      # enable ldap
      #- ./conf/gitlab.rb:/etc/gitlab/gitlab.rb
    environment:
      GITLAB_OMNIBUS_CONFIG: |
        # General
        external_url '${EXTERNAL_URL}'
        # Omnibus
        gitlab_rails['gitlab_shell_ssh_port'] = ${RAILS_SHELL_SSH_PORT}
        # Nginx
        nginx['redirect_http_to_https'] = true
        #
        # enable only if custom TLS certificates are to be used and disable let's encrypt
        #
        #nginx['ssl_certificate'] = "/etc/gitlab/trusted-certs/${CERT_NAME}"
        #nginx['ssl_certificate_key'] = "/etc/gitlab/trusted-certs/${CERT_KEY_NAME}"
        #
        # Let's encrypt
        letsencrypt['contact_emails'] = ${LE_EMAIL}
        letsencrypt['auto_renew'] = ${LE_AUTO_RENEW}
        letsencrypt['enable'] = ${LE_ENABLE} # disable if custom TLS is to be used, check the .env file
        # SMTP
        gitlab_rails['smtp_enable'] = ${SMTP_ENABLE}
        gitlab_rails['smtp_address'] = "${SMTP_ADDRESS}"
        gitlab_rails['smtp_port'] = ${SMTP_PORT}
        gitlab_rails['smtp_authentication'] = ${SMTP_AUTHENTICATION}
        gitlab_rails['smtp_enable_starttls_auto'] = ${SMTP_ENABLE_STARTLS_AUTO}
        gitlab_rails['smtp_tls'] = ${SMTP_TLS}

    networks:
      - gitlab_net
      
# Volumes
volumes:
  gitlab_data:
  gitlab_logs:
  gitlab_config:  
# Network
networks:
  gitlab_net:
